body {
  background-color: #f9f9fb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movements-container {
  margin-top: 80px;
  padding: 40px;
  background: #ffffffcc;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.movements-container h4 {
  font-weight: bold;
  color: #2c3e50;
}

.movements-container .MuiButton-contained {
  background-color: #5e60ce;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.movements-container .MuiButton-contained:hover {
  background-color: #4ea8de;
}

.movements-container .MuiTable-root {
  background: #ffffffcc;
  border-radius: 12px;
  overflow: hidden;
}

.movements-container .MuiTableCell-head {
  background-color: #e0e7ff;
  color: #2c3e50;
  font-weight: bold;
}

.movements-container .MuiTableCell-body {
  color: #2c3e50;
}

.movements-container .MuiTableRow-root {
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.movements-container .MuiTableRow-root:hover {
  background-color: #f4f6fc;
}

.cancel-button {
  padding: 10px 20px;
  background-color: #e74c3c; /* Rojo */
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #c0392b;
}



.snackbar {
  z-index: 99999;
  position: fixed;
}

.snackbar-message {
  width: 100%;
}
